<div class = "books-table-header"> PRICING </div>
<div class = "books-table-container">
  <div class="table-responsive-lg">
    <table class="table">
      <tr scope="column">
      <td class = "label">Product Name</td>
      <td class = "label">Product ID</td>
      <td class = "label">Amount</td>
      <td class = "label">Currency</td>
      <td class = "label">Recurring/Interval</td>
    </tr>
<% @pricing = api_stripe_price_fetch() %>
<% @pricing.each do |price| %>
    <tr scope="column">
      <td><%= price.product.name %></td>  
      <td><%= price.id %></td>
      <td><%= price.unit_amount/100 %></td>
      <td><%= price.currency %></td>
      <td><%= price.recurring.interval %></td>
      <div>
      <td>
        <%= link_to "Checkout", checkout_create_path(price: price.id), method: :post, remote: true%>
      </td>
      </div>  
    </tr>
<% end %>
