<h1 class="h1 text-center" id="product__header">ABC Tech Co. Products</h1>
<section class="dark">
  <div class="container py-0" , class="product__container">
    <article class="postcard dark blue">
      <% @abc_products.each do |product| %>
      <a class="postcard__img_link" href="#">
        <img
          class="postcard__img"
          src="https://www.thebalance.com/thmb/TQM3ruyQPyOc4IWKHyyr_3T2X2w=/2121x1414/filters:fill(auto,1)/GettyImages-1160738322-3e50c7227c51497ba06cf1a34f91aaa0.jpg"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text">
        <h1 class="postcard__title blue"><a><%= product.product_name %></a></h1>
        <div class="postcard__subtitle small"></div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          You can create unlimited minibooks all you want! Experience recording your financials easily with PHinance.io app!
        </div>
        <ul class="postcard__tagbox">
          <li class="tag__item"><i class="fas fa-tag mr-2"></i>Monthly</li>
          <li class="tag__item"><i class="fas fa-tag mr-2"></i>Yearly</li>
        </ul>
        <h1 id="subscribeNow__card">
          <% if current_user.status == 'free' %> <%= link_to "SUBSCRIBE NOW!",
          pricing_path %> <% else %> <%= link_to "SUBSCRIBE NOW!",
          user_dashboard_path %> <% end %>
        </h1>
      </div>
    </article>
  </div>
  <button type="button" class="btn btn-secondary">
    <%= link_to 'View Details', abc_product_show_path(product.id) %>
  </button>
  <button type="button" class="btn btn-secondary">
    <% if current_user.status == 'free' %> <%= link_to "SUBSCRIBE NOW!",
    pricing_path %> <% else %> <%= link_to "SUBSCRIBE NOW!", user_dashboard_path
    %> <% end %>
  </button>
  <button type="button" class="btn btn-outline-light">
    <%= link_to "Back", root_path %>
  </button>
  <% end %>
</section>
