<%= link_to "Sign out", destroy_user_session_path, method: :delete %>

<p> Hello Admin! </p>

<h5> Free Users: <%= @count_free_users %> </h5> 
<h5> Paid Users: <%= @count_paid_users %> </h5> 

<%= pie_chart(@data) %>

<%= link_to "All Users", admins_all_users_path %>
<%= link_to "Paid Users",  admins_paid_users_path %>




